<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/' %></li>
        <li><%= link_to "About",   '/static_pages/about' %></li>
        <li><%= link_to "Help",   '/static_pages/help' %></li>
        <li><%= link_to "Create Article", '/microposts' %></li>
      </ul>
    </nav>
  </div>
</header>